* {
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("./imgs/MoviesBG1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.overlay {
  background-color: black;
  opacity: 0.8;
  position: absolute;
  height: 100vh;
  width: 100%;
}

header {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whiteBox {
  padding: 20px;
  margin-top: 32px;
  height: 97px;
  width: 220px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle-container {
  width: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid #22daa8;
}

.whiteBox p {
  color: #22daa8;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 45px;
  font-size: 34px;
  color: white;
}

.movies {
  flex: 1;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.movie {
    cursor: pointer;
    height: 291px;
    width: 200px;
    border-radius: 10px;
    animation: fadeIn 1s ease-out forwards;
}

/* Definir la animación fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.movie:hover {
    filter: drop-shadow(0px 0px 0px rgba(200, 200, 200, 0.3)) invert(15%);
}
  


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: grey;
  font-weight: 400;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 224px;
}

.modal {
  margin-top: 120px;
  padding: 30px 40px;
  width:685px;
  height:365px;
  border-radius: 10px;
  background-color: white;
  border: 8px solid #22daa8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: fadeIn 1s ease-out forwards;
}

.modal h2 {
  color: #22daa8;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}

.modal p {
  font-size: 24px;
}
.modal a {
  height: 85px;
  width:100%;
  padding: 10px 20px;
  background-color: #EC5632;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
}


@media (max-width: 1024px) {
  body {
    background-image: url("./imgs/MoviesBG2x.png");
  }
}

@media (max-width: 768px) {
  body {
    background-image: url("./imgs/MoviesBG3x.png");
  }
}
